body{

    background-color: #fce4ec;
    font-family: 'Poppins', sans-serif;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(255, 187, 221);
    background-image:url('d7f4c81124cc52624bd34184793b4ce1.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    height: 100vh;
    
}
.container{
    max-width: 400px;
    background-color: #F7B1BD;
    padding: 40px;
    border-radius: 10px ;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
label, input, button{
    display: block;
    width: 100%;
    margin-bottom: 20px;
}
input, button{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}
button{
     background-color:#FBC9D3;
    color: rgb(9, 4, 4);
    cursor: pointer;
    order: none;
    padding: 10px 20px;
    border-radius: 20px;
    transition: background-color 0.3s ease;
}
button:hover{
     background-color:#ff96ab;

     transform: scale(1.05)
}
ul{
    list-style-type: none;
    padding: 0;
}
li{
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 5px;

}
h1, label {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    color: #444; 
}
input {
    border-radius: 15px;
    padding: 10px;
}


    
  
  





   


